@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-size: 3rem;
  color: white;
}

h2{
  font-size: 2rem;
  color: white;
}

@layer base {
  body {
    background-color: #05316f ;
    
    
  }
}